/*
Project name: Sarah Reuter Photography
Client: Sarah Reuter
Author: Andy Orme
*/

/****************************************************************************************************
	KEYFRAMES
****************************************************************************************************/

@keyframes fade-up {
	0% {
		transform: translate(0, 30%);
	}
	100% {
		transform: translate(0,0);
	}
}

/****************************************************************************************************
	BOILERPLATE
****************************************************************************************************/

/*BOX MODEL*/
* {
	box-sizing: border-box;
}

/*CLEAR FIX*/
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clear {
	clear: both;
}

/****************************************************************************************************
	UI STYLES
****************************************************************************************************/

/****************************************************************************************************
	BURGER-TEST
****************************************************************************************************/

header .container {
	display: flex;
	justify-content: space-between;
}

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(19,75,95,0.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 44px;
	height: 44px;
	position: absolute;
	right: 208px;
	top: 52px;
	overflow: hidden;
	border: none;
	background: url(../assets/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

.overlay ul li a {
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #F16A6B;
}

/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc nav {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay-hugeinc nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}




/********************
	TYPOGRAPHY
********************/

body {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.5;
	color: #444;
}

h1, h2, h3, legend {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

h4, h5, h6, {
	font-family: 'Merriweather', sans-serif;
	font-weight: 500;
}

h1 {
	font-size: 3rem;
	text-align: center;
	color: #134B5F;
}

h2 {
	font-size: 2.5rem;
}

h3, legend {
	font-size: 1.3rem;
}

h4 {
	font-size: 1.2rem;
}

h5 {
	font-size: 1.1rem;
}

h6 {
	font-size: 1rem;
}

a {
	text-decoration: none;
}

/********************
	GENERAL NAV
********************/

nav ul li a {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color: #97C3DB;
}

nav ul li a:hover {
	color: #F16A6B;
}

.fa-bars {
	color: #134B5F;
	float: right;
	font-size: 2rem;
	margin-top: .4em;
}

.banner {
	background-color: #E0EFF6;
	padding: 3em 0 6em;
}

.banner p {
	text-align: center;
	max-width: 890px;
	margin: 0 auto;
}

/********************
	CTA'S
********************/
.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
  text-align: center;
}

.cta  {
	font-size: 1rem;
	border-radius: 100px;
	border: 3px solid #F16A6B;
	color: #134B5F;
	font-family: 'Oswald', sans-serif;
	overflow: hidden;
	padding: 15px 90px;
	position: relative;
	text-transform: uppercase;
	transition: transform 0.3s;
	z-index: 10;
}

.cta:hover {
	color: #FFF;
	/*border: 2px solid #F16A6B;*/
	/*background-color: #F16A6B;*/
}

.cta:before {
  padding: 15px 90px;
  content: "";
  color: white;
  height: 100%;
  width: 100%;
  background-color: #F16A6B;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 400ms;
  z-index: -1;
}

.button-slide:before {
  transform: translateX(-100%);
}

.button-slide:hover:before {
  transform: translateX(0);
}

/****************************************************************************************************
	SMALL DEVICES (EQUAL TO OR GREATER THAN 400PX)
****************************************************************************************************/

@media (min-width: 400px) {

	/********************
		LAYOUT
	********************/
	.container {
		width: 95%;
		margin: 0 auto;
	}

	/********************
		BASE STYLES
	********************/
	html {
		font-size: 16px;
	}

	/********************
		NAV
	********************/
	/*header .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}*/

	header {
		padding: 1em 0;
		background-color: #E0EFF6;
	}

	header img {
		display: inline-block;
	}

	header .desktop-logo {
		display: none;
	}

	/*nav {
		display: none;
		clear: both;
		background-color: #134B5F;
		padding: 1em;
		text-align: center;
	}*/

	footer {
		text-align: center;
		padding: 3em 0;
		background-color: #134B5F;
	}

	footer span {
		display: block;
		float: center;
		color: #FFF;
		margin: 0 auto;
		text-align: center;
	}

	footer ul {
		display: block;
		float: center;
		padding: 1em 0;
	}

	footer ul li {
		display: inline-block;
		padding: 0 2em;
	}

	footer ul li a {
		color: #020F14;
		font-size: 2em;
	}

	footer ul li a:hover {
		color: #F16A6B;
	}

	/****************************************
		HOME
	****************************************/
	.hero {
		background-color: #E0EFF6;
		padding: 3em 0 6em;
	}

	.hero-heading {
		opacity: 0;
		transition: all 200ms ease-in;
	}

	.js-hero-heading-animate {
		opacity: 1;
		animation: fade-up .75s;
	}

	.hero h1 {
		color: #FFF;
	}

	.cursor {
		color: #134B5F;
	}

	.intro {
		background-color: #F8F9F8;
		padding: 2.5em 0 3em;
	}

	.intro p {
		justify-content: center;
		margin-bottom: 1.5em;
	}

	.intro p:last-child {
		margin-bottom: 0;
	}

	.img-grid {
		margin-bottom: 1.5em;
		opacity: 0;
		transition: all 200ms ease-in;
	}

	.js-img-grid-animate {
		opacity: 1;
		animation: fade-up .8s;
	}

	.intro .img-grid div img {
		width: 100%;
	}

	.chevrons {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1.5em;
		padding: 0 1.5em;
		opacity: 0;
		transition: all 200ms ease-in;
	}

	.js-chevrons-animate {
		opacity: 1;
		animation: fade-up .8s;
	}

	.chevrons i {
		font-size: 2.5rem;
	}

	.button-animation {
		opacity: 0;
		transition: all 200ms ease-in;
	}

	.js-button-container-animate {
		opacity: 1;
		animation: fade-up .8s;
	}

	.sign-posting {
		opacity: 1;
		/*transition: all 200ms ease-in;*/
	}

	.sign-posting ul li {
		flex-grow: 1;
		margin: 3em 0; 
	}

	.sign-posting ul li h3 {
		margin-bottom: .5em;
		color: #134B5F;
	}

	.sign-posting ul li p {
		color: #444;
	}
	/****************************************
		ABOUT ME
	****************************************/

	.intro p:first-of-type {
		font-weight: 400;
	}

	.projects {
		opacity: 0;
		transition: all 200ms ease-in;
	}

	.js-projects-animate {
		opacity: 1;
		animation: fade-up .75s;
	}

	.featured-projects .container ul li {
		flex-grow: 1;
		margin: 3em 0;
	}

	.featured-projects .container ul li img {
		width: 100%;
	}

	.featured-projects .container h2 {
		margin-top: .5em;
		margin-bottom: .5em;
		text-align: center;
	}

	.featured-projects ul li h3 {
		margin-top: .5em;
		margin-bottom: .5em;
		color: #134B5F;
	}

	.featured-projects ul li p {
		color: #444;
	}

	.insta {
		padding: 0 0 3em 0;
	}

	.insta h2 {
		margin-bottom: .5em;
		text-align: center;
	}

	.insta-grid {
		opacity: 0;
		transition: all 200ms ease-in;
	}

	.js-insta-grid-animate {
		opacity: 1;
		animation: fade-up .75s;
	}

	.insta .insta-grid img {
		width: 32.3%;
		margin-right: .1em;
		margin-bottom: .1em;
	}

	.insta .insta-grid img:nth-child(3n) {
		margin-right: 0;
	}
	/****************************************
		MY WORK
	****************************************/

	.listing {
		padding: 2.5em 0 3em;
	}

	.work-row-1, .work-row-2, .work-row-3 {
		opacity: 1;
		transition: none;
	}

	.listing ul li {
		flex-grow: 1;
		padding-bottom: 3em;
	}

	.listing ul li h3 {
		margin-top: .5em;
		margin-bottom: .5em;
		color: #134B5F;
	}

	.listing ul li p {
		color: #444;
	}

	.listing ul li img {
		width: 100%;
	}
	/****************************************
		CONTACT ME
	****************************************/

	.enquiry-form {
		padding: 2.5em 0 3em;;
	}

	.personal-fields {
		margin: 1.5em 0;
	}

	.enquiry-fields {
		margin: 1.5em 0;
	}

	.form-column {
		width: 100%;
	}

	input {
    border-radius: 4px;
    border: 1px solid #DFDFDF;
    height: 50px;
    margin: 1em 0;
    padding: 1.5em;
    width: 100%;
    outline: none;
	}

	input:focus {
    border: 2px solid #134B5F;
	}

	select {
		background-color: #FFF;
		height: 50px;
		width: 100%;
    border: 1px solid #DFDFDF;
    margin: 1em 0;
    padding: 1.5em;
    outline: none;
	}

	select:focus {
    border: 2px solid #134B5F;
	}

	textarea {
    border-radius: 4px;
    border: 1px solid #DFDFDF;
    height: 150px;
    margin: 1.5em 0;
    padding: 1.5em; 
    resize: none;
    width: 100%;
    outline: none;
	}

	textarea:focus {
    border: 2px solid #134B5F;
	}
}

/****************************************************************************************************
	MEDIUM DEVICES (EQUAL TO OR GREATER THAN 768PX)
****************************************************************************************************/

@media (min-width: 768px) {

	/********************
		LAYOUT
	********************/
	.container {
		width: 85%;
		margin: 0 auto;
	}

	/********************
		BASE STYLES
	********************/
	html {
		font-size: 18px;
	}

	/********************
		NAV
	********************/
	.mob-logo {
		width: 80px;
	}

	header {
		padding: 1.5em 0;
	}

	/*nav {
		display: block;
    float: right;
    margin-top: .7em;
    clear: none;
		background-color: #E0EFF6;
		padding: 0;
		text-align: left;
	}*/

/*	nav ul li {
		display: inline-block;
		padding: 0 .5em;
	}*/

	/*.fa-bars {
		display: none;
	}*/

	/****************************************
		HOME
	****************************************/
	.intro .img-grid {
		display: flex;
		flex-wrap: wrap;
	}

	.intro .img-grid div {
		width: 30.5%;
		margin-right: 1.5em;
		margin-bottom: 1.5em;
	}

	.intro .img-grid div:nth-child(3n) {
		margin-right: 0;
	}

	.intro .img-grid div img {
		width: 100%;
	}

	.chevrons {
		display: none;
	}

	.button-animation {
		opacity: 1;
		transition: none;
	}

	.js-button-container-animate {
		animation: none;
	}

	.sign-posting {
		padding: 2.5em 0 3em;
		opacity: 0;
		transition: all 200ms ease-in;
	}

	.js-sign-posting-animate {
		opacity: 1;
		animation: fade-up .8s;
	}

	.sign-posting .container ul {
		display: flex;
	}

	.sign-posting ul li {
		width: 33.3%;
		margin: 0; 
		margin-right: 1.5em;
	}

	.sign-posting ul li:last-child {
		margin-right: 0;
	}

	/****************************************
		ABOUT ME
	****************************************/
	.featured-projects .container ul {
		display: flex;
		justify-content: space-around;
	}

	.featured-projects .container ul li {
		width: 33.3%;
		margin-right: 1.5em;
		margin-top: 0;
		margin-bottom: 0;
	}

	.featured-projects .container ul img {
		width: 100%;
	}

	.featured-projects .container ul li:last-child {
		margin-right: 0;
	}

	.insta {
		padding: 3em 0;
	}

	.insta .insta-grid {
		flex-wrap: nowrap;
		display: flex;
		margin-bottom: 3em;
	}

	.insta .insta-grid img {
		width: 15.888%;
		height: 100%;
		margin-right: .5em;
	}

	.insta .insta-grid img:nth-child(3n) {
		margin-right: .5em;
	}

	.insta .insta-grid img:last-child {
		margin-right: 0;
	}

	/****************************************
		MY WORK
	****************************************/

	.listing ul {
		display: flex;
	}

	.work-row-1, .work-row-2, .work-row-3 {
		opacity: 0;
		transition: all 200ms ease-in;
	}

	.js-work-row-animate {
		opacity: 1;
		animation: fade-up .75s;
	}

	.listing ul li {
		width: 29.33%;
		margin-right: 1.5em;
	}

	.listing ul li img {
		width: 100%;
	}

	/****************************************
		CONTACT ME
	****************************************/

	.personal-fields {
		display: flex;
		flex-grow: 1;
	}

	.form-column {
		width: 50%;
		margin-right: 1.5em;
	}

	.form-column:nth-child(2n) {
		margin-right: 0;
	}

	.enquiry-fields .form-column {
		width: 48.7%;
	}
}

/****************************************************************************************************
	LARGE DEVICES (EQUAL TO OR GREATER THAN 992PX)
****************************************************************************************************/

@media (min-width: 992px) {
	/********************
		LAYOUT
	********************/
	.container {
		width: 75%;
		margin: 0 auto;
	}


	/********************
		BASE STYLES
	********************/
	html {
		font-size: 20px;
	}

	/********************
		NAV
	********************/
	.mob-logo {
		display: none;
	}

	header .desktop-logo {
		display: block;
	}

	.desktop-logo {
		display: block;
		float: left;
		width: 277px;
	}

	.desktop-logo img {
		width: 100%;
	}

	nav {
    margin-top: .4em;
	}

	/****************************************
		HOME
	****************************************/

/*	.intro .img-grid img {
		display: inline-block;
		width: 32.9%;
		padding: .2em;
	}*/
}

/****************************************************************************************************
	X-LARGE DEVICES (EQUAL TO OR GREATER THAN 1200PX)
****************************************************************************************************/

@media (min-width: 1200px) {

	/********************
		BASE STYLES
	********************/
	html {
		font-size: 22px;
	}

	/********************
		NAV
	********************/
	.desktop-logo {
		width: 380px;
	}

	/****************************************
		HOME
	****************************************/
	.hero {
		padding: 4em 0 9em ;
	}
}














